[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Shepherd
Exec=/usr/bin/shepherd-gui
Icon=shepherd
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

